.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image {
	width: 100%;
}

.title {
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'SOFT' 0, 'WONK' 0;
	font-size: 38px;
	color: hsl(212, 27%, 19%);
	margin: 4rem 1rem 0 1rem;
}

.text {
	color: hsl(232, 10%, 55%);
	padding: 0rem 3rem;
}

.link {
	cursor: pointer;
	position: relative;
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'SOFT' 0, 'WONK' 0;
	color: hsl(212, 27%, 19%);
}

.underline {
	position: relative;
	top: -26px;
	width: 140px;
	height: 9px;
	border-radius: 4.5px;
	opacity: 0.3;
	z-index: -1;
	transition: all 300ms ease-in-out;
}

.link:hover + .underline {
	opacity: 1;
}
