.container {
	background-color: hsl(168, 34%, 41%);
	padding: 2rem 0rem;
}

.navContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navContainer p {
	cursor: pointer;
	color: hsl(167, 40%, 24%);
	font-size: 12px;
	padding: 0.5rem 1rem;
	transition: all 300ms ease-in-out;
}

.navContainer p:hover {
	color: hsl(0, 0%, 100%);
}

.iconContainer {
	display: flex;
	place-content: center;
	margin: 2.2rem 0 1rem 0;
}

.iconContainer svg {
	cursor: pointer;
	padding-inline: 0.7rem;
	transition: all 300ms ease-in-out;
}
