.milkBottles {
	background-image: url('../../assets/images/mobile/image-gallery-milkbottles.jpg');
	height: 376px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
