.container {
	height: 600px;
	display: flex;
	background-image: url('../../assets//images/mobile/image-header.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
