.container {
	display: flex;
	flex-direction: column;
}

.image {
	width: 100%;
}

.title {
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'SOFT' 0, 'WONK' 0;
	font-size: 38px;
	color: hsl(212, 27%, 19%);
}
