.container {
	display: flex;
	flex-direction: column;
}

.image {
	width: 100%;
}

.title {
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'SOFT' 0, 'WONK' 0;
	font-size: 38px;
	color: hsl(212, 27%, 19%);
	margin: 4rem 0 0 0;
}

.text {
	color: hsl(232, 10%, 55%);
	padding: 0rem 3rem;
}

.link {
	font-family: 'Fraunces', serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'SOFT' 0, 'WONK' 0;
	font-size: 24px;
	color: hsl(212, 27%, 19%);
}

.link::after {
	content: '';
	position: absolute;
	bottom: -99px;
	left: 50%;
	width: 190px;
	height: 9px;
	background-color: hsl(51, 100%, 49%);
	border-radius: 4px;
	opacity: 0.5;
	z-index: -1;
	transform: translate(-50%);
}

/* .link:hover::after {
	opacity: 0.5;
} */
