:root {
	/* max-width: 1440px; */
	margin: 0 auto;
	text-align: center;
}

.container {
	width: 100vw;
}

@media screen and (min-width: 992px) {
	.secondaryCards {
		display: flex;
		height: 599px;
	}
}
